@font-face {
    font-family: 'TheWeddingSignature';
    src: url(/fonts/the_wedding_signature/TheWeddingSignature-Regular.ttf) format('truetype'); /* Reemplaza 'NombreDelArchivoDeLaFuente.ttf' con el nombre real del archivo de la fuente */
}

@font-face {
    font-family: 'boska-bold';
    src: url(/fonts/Boska-Bold.ttf);
}

@font-face {
    font-family: 'boska-medium';
    src: url(/fonts/Boska-Medium.ttf);
}

@font-face {
    font-family: 'alinum';
    src: url(/fonts/Halimun.ttf);
}

:root {
    --blanco: #ffffff;
    --osucro: #212121;
    --primario: #333;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --resaltar: #fdfd96;
    --bgd-color: rgb(221, 206, 204):

    --fuente-principal-: 3.8rem;
}


body {
    /*font-family: 'NombreDeLaFuente', sans-serif; /* Utiliza la fuente en tu diseño */
    background-color: rgb(221, 206, 204);
}

/*Parallax*/

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:45rem;
	max-width: 100%;
	position: relative;
}


/*Imagenes*/
.img-uno{background-image: url('https://i.ibb.co/w7bVb2R/1.jpg');}
/*.img-dos{background-image: url('https://i.ibb.co/RP3T3Tb/Foto123.jpg');}
.img-tres{background-image: url('https://i.ibb.co/Jp8XZfR/home-bg-slider-img1.jpg');}
.img-cuatro{background-image: url('https://i.ibb.co/VTm3Pbv/5.jpg');}
.img-cinco{background-image: url('https://i.ibb.co/18CMKnn/DJI-0030-1.png');}*/

.centrar-img{
	display: flex;
	justify-content:center;
    padding-top: 3rem;
	
}

.centrar{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.centrar h1{
    margin-left: 13%;
}

.bordes-img iframe{
    border: 1px solid var(--osucro);
    border-width: 0.5rem;
}

---------------

#banner1 {
    background-image: url('/img/banner1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 800px;
}

.custom-button {
    background-color: black; /* Color de fondo */
    border: none; /* Eliminar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 50%; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre él */
    transition: background-color 0.3s; /* Transición suave */
    display: block; /* Hace que el botón sea un bloque */
    margin: 20px auto; /* Centra vertical y horizontalmente */
}

.custom-button:hover {
    background-color: #8FA57A; /* Color de fondo al pasar el mouse */
}




.versiculo-texto {
    font-family: 'Roboto', sans-serif; /* Utiliza una fuente elegante */
    font-size: 18px; /* Tamaño de fuente */
    text-align: center; /* Justifica el texto */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: 50px; /* Espacio inferior */
    color: #333; /* Color del texto */
}

.nombres h1{
    font-family: alinum, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nombres p{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

.palabras h2{
    font-family: boska-bold, sans-serif;
    text-align: center;
    margin-top: 40px;
}

.palabras p{
    font-family: boska-medium, sans-serif;
    font-size: 18px; /* Tamaño de fuente */
    text-align: center; /* Justifica el texto */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: 50px; /* Espacio inferior */
    color: #333; /* Color del texto */
}

.prueba-datos {
    margin-left: 30%;
    width: 50%;
}

.countdown-container {
    font-family: TheWeddingSignature, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f3f3f3;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
}

/* Estilo base del botón genérico */
.generic-button {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: TheWeddingSignature, sans-serif;
    background-color: #e0c7c7; /* Color de fondo */
    /*border: 2px solid #007bff; /* Borde sólido */
    border-radius: 20px; /* Borde redondeado */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 5px 5px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la subrayado */
    display: inline-block; /* Elemento en línea */
    font-size: 80px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar */
    transition-duration: 0.4s; /* Duración de la transición */
}

/* Cambio de estilo al pasar el mouse */
.generic-button:hover {
    background-color: #d69494; /* Color de fondo al pasar el mouse */
    border-color: #d69494; /* Color del borde al pasar el mouse */
}
/* Estilo del contenedor del botón */
.button-container {
    text-align: center; /* Centra horizontalmente el contenido */
}

@media only screen and (max-width: 1000px) {
    #banner1 {
        min-height: 300px; /* Ajustar altura del banner para dispositivos móviles */
    }

    .nombres h1 {
        font-size: 600%; /* Reducir tamaño de fuente para dispositivos móviles */
        margin-bottom: 5px; /* Ajustar margen inferior */
    }

    .nombres p {
        font-size: 120%; /* Reducir tamaño de fuente para dispositivos móviles */
    }

    .countdown-container {
        font-size: 60px; /* Reducir tamaño de fuente para dispositivos móviles */
        margin-top: 10px; /* Ajustar margen superior */
        margin-bottom: 10px; /* Ajustar margen inferior */
    }
}


@media (max-width: 576px){
    .container{
        flex-direction: column;
    }

    .texto-interior div{
        font-size: 3rem;
    }
    
    .grid-section{
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: auto auto;
        row-gap: 20px;
    }

    .a1{
        justify-items: center;
    }

    .centrar-img img{
        width: 100%;
    }

}