@font-face {
    font-family: 'TheWeddingSignature';
    src: url(/fonts/the_wedding_signature/TheWeddingSignature-Regular.ttf) format('truetype'); /* Reemplaza 'NombreDelArchivoDeLaFuente.ttf' con el nombre real del archivo de la fuente */
}

@font-face {
    font-family: 'boska-bold';
    src: url(/fonts/Boska-Bold.ttf);
}

@font-face {
    font-family: 'boska-medium';
    src: url(/fonts/Boska-Medium.ttf);
}

@font-face {
    font-family: 'alinum';
    src: url(/fonts/Halimun.ttf);
}

@font-face {
    font-family: 'scandi';
    src: url(/fonts/Scandilover\ Script.ttf);
}

@font-face {
    font-family: 'blush bold';
    src: url(/fonts/Star\ Blush\ Serif\ Bold.ttf);
}

@font-face {
    font-family: 'blush no bold';
    src: url(/fonts/Star\ Blush\ Serif\ Regular.otf);
}

@font-face {
    font-family: 'betterlove';
    src: url(/fonts/Betterlove.ttf);
}

@font-face {
    font-family: 'beatrice';
    src: url(/fonts/Beatrice\ Clorophil.otf);
}

@font-face {
    font-family: 'hand';
    src: url(/fonts/Hand\ of\ Linda\ Demo.otf);
}

@font-face {
    font-family: 'helmor';
    src: url(/fonts/Helmord.ttf);
}
:root {
    --blanco: #ffffff;
    --osucro: #212121;
    --primario: #333;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --resaltar: #fdfd96;
    --bgd-color: rgb(221, 206, 204):

    --fuente-principal-: 3.8rem;
}


body {
    /*font-family: 'NombreDeLaFuente', sans-serif; /* Utiliza la fuente en tu diseño */
    background-color: rgb(221, 206, 204);
}

/*Parallax*/
.parallax-container {
    position: relative;
    width: 100%;
    height: 400px; /* Altura deseada */
    overflow: hidden;
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/carrousel/1.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el logo esté sobre la imagen parallax */
    width: 300px; /* Ancho deseado del logo */
    height: auto; /* Altura automática para mantener la proporción */
}



---------------
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.animated-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animated-container.visible {
    opacity: 1;
}

--------
.musica h2{
    font-family: 'blush bold'', sans-seri'f;
    font-size: 30px;
}

.musica h3{
    font-family: 'helmor', sans-serif;
    font-size: 100px;
    margin-bottom: -50px;
}

.musica{
    text-align: center;
    font-family: 'blush bold';
}



.custom-button {
    background-color: black; /* Color de fondo */
    border: none; /* Eliminar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 50%; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre él */
    transition: background-color 0.3s; /* Transición suave */
    display: block; /* Hace que el botón sea un bloque */
    margin: 20px auto; /* Centra vertical y horizontalmente */
    margin-top: 4px;
}

.custom-button:hover {
    background-color: #d69494; /* Color de fondo al pasar el mouse */
}

.versiculo-texto {
    font-family: 'blush bold', sans-serif; /* Utiliza una fuente elegante */
    font-size: 24px; /* Tamaño de fuente */
    text-align: center; /* Justifica el texto */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: 50px; /* Espacio inferior */
    color: #333; /* Color del texto */
}

.nombres h1{
    font-family: alinum, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nombres p{
    font-family: 'helmor';
    font-size: 60px;
    text-align: center;
}

.palabras h2{
    font-family: 'blush bold', sans-serif;
    text-align: center;
    margin-top: 40px;
}

.palabras p{
    font-family: 'blush no bold', sans-serif;
    font-size: 25px; /* Tamaño de fuente */
    text-align: center; /* Justifica el texto */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: -180px; /* Espacio inferior */
    color: #333; /* Color del texto */
}

.prueba-datos {
    margin-left: 30%;
    width: 50%;
}

/*icono reloj*/

.icon-container {
    display: flex; /* Utiliza un contenedor flex */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    animation: spin 15s infinite linear; /* Configuración de la animación */
    scale: 30%;
}

@keyframes spin {
    from {
        transform: rotate(0deg); /* Angulo de inicio */
    }
    to {
        transform: rotate(360deg); /* Angulo de fin */
    }
}



.sup-countdown{
    font-family: 'helmor', sans-serif;
    font-size: 60px;
    color: #333;
    text-align: center;
    margin: 2%;
    margin-top: -180px;
}

.countdown-container {
    font-family: 'helmor', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f3f3f3;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
}

.invitacion img{
    width: 100%;
}

.confirmar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.confirma{
    text-align: center;
    font-family: 'blush bold', sans-serif;
    font-size: 30px;
}

.asistencia{
    text-align: center;
    font-family: 'helmor', sans-serif;
    font-size: 50px;
}

.hasta{
    text-align: center;
    font-family: 'blush no bold', sans-serif;
    font-size: 20px;
}

/* Estilo base del botón genérico */
.generic-button {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'blush no bold', sans-serif;
    background-color: #e0c7c7; /* Color de fondo */
    /*border: 2px solid #007bff; /* Borde sólido */
    border-radius: 20px; /* Borde redondeado */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 5px 5px; /* Espaciado interno */
    padding-left: 5%;
    padding-right: 5%;
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la subrayado */
    display: inline-block; /* Elemento en línea */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar */
    transition-duration: 0.4s; /* Duración de la transición */
}

/* Cambio de estilo al pasar el mouse */
.generic-button:hover {
    background-color: #d69494; /* Color de fondo al pasar el mouse */
    border-color: #d69494; /* Color del borde al pasar el mouse */
}
/* Estilo del contenedor del botón */
.button-container {
    text-align: center; /* Centra horizontalmente el contenido */
}


.regalo{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.regalo h2{
    font-family: 'blush bold', sans-serif;
    font-size: 30px;
}

.regalo p{
    font-family: 'blush no bold', sans-serif;
    font-size: 20px;
}

.dress-code{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dress-code h2{
    font-family: 'blush bold', sans-serif;
    font-size: 30px;
}

.dress-code h3{
    font-family: 'helmor', sans-serif;
    font-size: 50px;
}

.dress-code p{
    font-family: 'blush no bold', sans-serif;
    font-size: 20px;
}

.drink{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.drink h2{
    font-family: 'blush bold', sans-serif;
    font-size: 30px;
}
.drink p{
    font-family: 'blush no bold', sans-serif;
    font-size: 20px;
}

.adultos{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.adultos h2{
    font-family: 'blush bold', sans-serif;
    font-size: 30px;
}

.adultos p{
    font-family: 'blush no bold', sans-serif;
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    #banner1 {
        min-height: 300px; /* Ajustar altura del banner para dispositivos móviles */
    }

    .nombres h1 {
        font-size: 300%; /* Reducir tamaño de fuente para dispositivos móviles */
        margin-bottom: 5px; /* Ajustar margen inferior */
    }

    .nombres p {
        font-size: 120%; /* Reducir tamaño de fuente para dispositivos móviles */
    }

    .countdown-container {
        font-size: 60px; /* Reducir tamaño de fuente para dispositivos móviles */
        margin-top: 10px; /* Ajustar margen superior */
        margin-bottom: 10px; /* Ajustar margen inferior */
    }

    .centrar-img img{
        width: 2%;
    }
}

.parallax-container {
    height: 60vh; /* Porcentaje de la altura de la ventana gráfica */
}

.parallax-image {
    height: 100%; /* La imagen ocupa toda la altura del contenedor */
}
